/*VIEW AYUDA*/ 

.list-group{
    height: 100vh;
    margin-top: 30px;
    text-align: center;
}

.buscador-soporte {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.search-custom {
    margin-top: 10px;
    margin-left: 5px;
}

.buttom-custom {
    margin-top: 10px;
}




/*VIEW LOGIN*/ 

.seccion-login{
    height: 100vh;
    padding-top: 50px;
    
}

.login-form{
    background-color: rgb(37,37,37);
    color: white;
    max-width: 500px;
    margin: auto;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(131,130,130);
    .form-name{
        text-align: center;
        font-size: 40px;
        color: #E59866;
        height: 100px;
        margin: auto;
        margin-bottom: 25px;
        line-height: 80px;
    }
    .item{
        border-radius: 10px;
        margin-bottom: 25px;
        padding: 10px 20px;
    }
    .login-account{
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: bold;
        background-color: #E59866;
        border: none;
        margin-top: 20px;
    }
    .form-group{
        text-align: center;
        a{
           color: #E59866; 
        }
    }
    .social-media{
        max-width: 400px;
        background-color: rgb(37,37,37);
        padding: 30px 0;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #E59866;
        border-top: 1px solid #dee9ff;
        box-shadow: 0px 2px 10px rgb(131,130,130);
        margin-top: 20px;
        .social-icons{
            display: flex;
            justify-content: space-evenly;      
        a{
            font-size: 25px;
        }
        }
    }
}

.form-control-custom{
    width: 100%;
}

.btn-login{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    margin: 5px 0px;
}

.btn-login:hover{
    text-decoration: none;
    opacity: 0.6;
}




/*VIEW VENTAS*/

.contenedor-ventas {
    width: auto;
    height: 70px; 
    padding-top: 30px;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    border-bottom: 2px solid #E59866;
    h3{
        font-size: 16px;
        font-weight: bold;
    }
}



/* Página Registrarse*/

.formulario-registro{
    margin-top: 50px;
    height: 100vh;
}

.form-registrarse {
    margin-right: 0;
}

.form-control {
flex: none;
width: 400px;
}

.form-control::placeholder {
font-family: "Font Awesome 5 Free"; 
font-weight: 700;
}

.form-control:focus{
outline: none;
}








/*MEDIA QUERYS*/

/*PÁGINA VENTAS*/

@media (max-width:360px)
{
    .contenedor-ventas{
        h3{
            font-size: 14px;
        }
    }
}


/* PAG. REGISTRARSE.HTML*/


@media (max-width:768px){
    .formulario-registro{
        line-height: 0;
    }

}

@media (max-width:400px){
    .form-control {
        width: auto;
     }
}
